.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 50%;
    font-family: "Red Hat Display", "sans-serif";
    margin: 0.5rem;
}

.search-button:hover {
    animation: pop-out 0.2s ease-out forwards;
    background-color: orangered;
    border-color: lightblue;
}

.search-icon {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.search-icon:hover {
  color:lightblue;
}


@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}