.container {
    margin: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-width: 300px;
    width:35%;
    max-width: 600px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: rgb(50, 19, 122);
    color: white;
    font-weight: bold;
    font-family: "Red Hat Display", "sans-serif";
    outline: none;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.slider-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.slider {
    width: 100%;
    height: 25px;
    margin: 0 0.5rem;
}

.label {
    margin: 5px;
    font-size: 14px;
}

.thumb {
    height: 15px;
    line-height: 15px;
    width: 15px;
    text-align: center;
    background-color: royalblue;
    color: #ffffff;
    border-radius: 50%;
    cursor: grab;
    top: 50%;
    transform: translateY(-50%);
}

.thumb:hover .tooltip {
    transform: translate(-50%, -100%);
    color: rgba(0, 0, 0, 1);
    padding: 3px;
  }
  
.tooltip {
    font-family: "Red Hat Display", "sans-serif";
    text-align: center;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, -200%);
    width: 25px;
    bottom: 100%; 
    background-color: lightblue;
    color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-bottom: -20px;
    font-weight: bold;
    z-index: 99999999;
}

.track {
    top: 10px;
    bottom: 0;
    height: 5px;
    border-radius: 5px;
    background-color: royalblue;
}

/* :global(.track-0) {
    top: 10px;
    bottom: 0;
    background-color: royalblue;
    
}

:global(.track-1) {
    top: 10px;
    bottom: 0;
    background-color: white;
    height: 5px;
    border-radius: 5px;
} */

.input {
    margin: 5px;
    width: 100%;
}

.input::-webkit-slider-thumb {
    background: darkorange;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    cursor: grab;
}

.input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px; /* Adjust to preference */
    cursor: pointer;
    border-radius: 25px;
    border: 0.2px solid #010101;
}

span {
    font-size: 14px;
}

/* .container:hover {
    animation: pop-out 0.2s ease-out forwards;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1.05);
    }
} */