.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: 110px;
    width: 30%;
    max-width: 125px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid white;
    background-color: rgb(50, 19, 122);
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    text-align: center;
}
  
    .selectContainer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .select {
      width: 100%;
      font-weight: bold;
      font-family: "Red Hat Display", "sans-serif";
      outline: none;
      text-align: center;
      border: none;
      background-color: inherit;
      color: white;
      cursor: pointer;
      background-color: rgb(50, 19, 122);
      border-radius: 25px;
    }
  
    .star {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4%;
      color: white;
      font-size: 22px;
    }
  
    .option {
      border: 3px solid white;
      cursor: pointer;
    }
  
    .option:hover {
      background-color: lightblue;
    }
  
    /* .container:hover {
      animation: pop-out 0.2s ease-out forwards;
    } */
  
    /* @keyframes pop-out {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1.1);
      }
  } */