.container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.ul, .loading {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.ul, .li {
    list-style-type: none;
}

.arrow {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.right {
    rotate: 180deg;
}

.empty {
    color: rgb(147, 136, 175);
    animation: pop-in 0.1s ease-out forwards;
}

.nonempty {
    color: white;
    animation: pop-out 0.1s ease-out forwards;
}

.nonempty:hover {
    color: lightblue;
}

@keyframes pop-out {
    0% {
        scale: 100%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 200%;
    }
}

@keyframes pop-in {
    0% {
        scale: 200%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 100%;
    }
}

.image-switch {
    transition: transform 0.5s ease-in-out;
}

.image-switch.first {
    transform: translateX(0%);
}
  
.image-switch {
    transform: translateX(-100%);
}

