.container {
    position: relative;
    height: 100%;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
    border: 3px solid white;
    border-radius: 50px;
    background-color: rgb(50, 19, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.inner-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.inner-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.inner-container-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.description {
    font-size: calc(.5vw + .5vh);
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card {
    margin: 0.5rem;
    max-width: 100%;
    min-width: 0;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding: 1rem;
}

.name {
    font-size: calc(1.5vw + 1vh);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Special Elite", cursive;
    text-align: center;
    padding-top: 5px;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(.5vw + 0.5vh);
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(.5vw + 0.5vh);
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: calc(.5vw + 0.25vh);
}

.rating {
    font-size: calc(.5vw + 1vh);
    text-align: center;
}

.location-icon {
    font-size: 30px;
    color: white;
}

.phone-number {
    flex-grow: 1;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    color: royalblue;
}

.save-button {
    position: absolute;
    top: 3%;
    right: 6%;
    cursor: pointer;
    min-width: 30px;
    width: 10%;
    max-width: 60px;
    height: 30px;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 20px;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
}

.save-button:hover {
    background-color: orangered;
    border-color: lightblue;
    animation: pop-out 0.2s ease-out forwards;
}

.more-button {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: royalblue;
}

.more-button:hover {
    text-decoration: underline;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}