.container {
    margin: 1.25rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    padding: 1rem;
}

.card {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(50, 19, 122);
    border: 2px solid white;
    
}

.card:hover {
  animation: pop-out 0.2s ease-out forwards;
}

.selected {
    animation: pop-out 0.2s ease-out forwards;
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
    border-width: 4px;
    background-color: darkorange;
}

.selected-reverse {
    animation: pop-in 0.2s ease-out forwards;
    transform: scale(1);
    transition: transform 0.2s ease-out;
    border-width: 2px;
}
  
@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.2);
    }
}

@keyframes pop-in {
    0% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.name {
  margin-bottom: 1rem;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  font-size: x-large;
  margin-right: .5rem;
}

/* use a different color for the unfilled portion */
.star::before {
  background-color: white;
}

/* use the "width" style property to set the percentage of yellow */
.star {
  width: calc(var(--rating) / 5 * 100%);
  background-image: linear-gradient(to right, yellow 0%, yellow 100%);
}