.container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.ul {
    padding: 0;
    height: 100%;
    margin: 0;
}

.arrow {
    cursor: pointer;
    border-width: 0 3px 3px 0;
    border-bottom-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    margin: 1rem;
    display: inline-block;
    padding: 3px;
    background-color: rgb(50, 19, 122);
    scale: 200%;
    transform: rotate(45deg);
    transition: transform 0.2s ease-out;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.empty {
    border: solid rgb(147, 136, 175);
    border-width: 0 3px 3px 0;
    animation: pop-in 0.1s ease-out forwards;
}

.nonempty {
    border: solid white;
    border-width: 0 3px 3px 0;
    animation: pop-out 0.1s ease-out forwards;
}

.nonempty:hover {
    border: solid lightblue;
    border-width: 0 3px 3px 0;
}

/* .left:hover {
    animation: pop-out-left 0.15s ease-out forwards;
} */

@keyframes pop-out {
    0% {
        scale: 200%;
    }
    50% {
        scale: 300%;
    }
    100% {
        scale: 400%;
    }
}

@keyframes pop-in {
    0% {
        scale: 400%;
    }
    50% {
        scale: 300%;
    }
    100% {
        scale: 200%;
    }
}

.image-switch {
    transition: transform 0.5s ease-in-out;
}

.image-switch.first {
    transform: translateX(0%);
}
  
.image-switch {
    transform: translateX(-100%);
}

