.container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.ul {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.arrow {
    cursor: pointer;
    margin: 0.5rem;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.empty {
    color: rgb(147, 136, 175);
    animation: pop-in 0.1s ease-out forwards;
}

.nonempty {
    color: white;
    animation: pop-out 0.1s ease-out forwards;
}

.nonempty:hover {
    color: lightblue;
}

/* .left:hover {
    animation: pop-out-left 0.15s ease-out forwards;
} */

@keyframes pop-out {
    0% {
        scale: 100%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 200%;
    }
}

@keyframes pop-in {
    0% {
        scale: 200%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 100%;
    }
}

.image-switch {
    transition: transform 0.5s ease-in-out;
}

.image-switch.first {
    transform: translateX(0%);
}
  
.image-switch {
    transform: translateX(-100%);
}

