.container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 85%);
    min-width: 200px;
    width: 30%;
    height: 20%;
    border: 3px solid white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom: 0;
    background-color: rgb(50, 19, 122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.arrow {
    color: white;
    font-size: 48px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
}

.arrow:hover {
    animation: pop-out 0.2s ease-out forwards;
    color: lightblue;
}

.expand-up {
    animation: drop-up 0.15s ease-in-out forwards;
}

.expand-down {
    animation: drop-down 0.15s ease-in-out forwards;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

h4 {
    margin-top: 3rem;
    margin-bottom: 0.25rem;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Red Hat Display", "sans-serif";
}

textarea {
    width: 80%;
    height: 35%;
    resize: none;
    font-size: 16px;
    padding: 12px;
    outline: none;
    border-radius: 20px;
    border: none;
    font-family: "Red Hat Display", "sans-serif";
    margin: 0.5rem;
}

.submit-button {
    margin-top: 0.5rem;
    cursor: pointer;
    min-width: 55px;
    width: 15%;
    max-width: 80px;
    height: 35px;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 20px;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
    text-align: center;
}

.submit-button:hover {
    background-color: orangered;
    border-color: lightblue;
    animation: pop-out 0.2s ease-out forwards;
}


@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}

@keyframes drop-up {
    0% {
        transform: translate(-50%, 85%);
      }
    50% {
        transform: translate(-50%, 40%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes drop-down {
    0% {
      transform: translate(-50%, 0%);
    }
    50% {
      transform: translate(-50%, 40%);
    }
    100% {
      transform: translate(-50%, 85%);
    }
}