.container {
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.inner-container {
    display: flex;
    justify-content: flex-start;
    
}

.destinations {
    pointer-events: auto;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    font-family: "Red Hat Display", "sans-serif";
    min-width: 200px;
    width: 15%;
    max-width: 285px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-left: 1rem;
}

.destinations::-webkit-scrollbar {
    width: 0px;  /* For Chrome, Safari and Opera */
}

.description {
    pointer-events: auto;
    height: calc(100% - 13rem);
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    top: 9rem;
    right: 0;
    min-width: 525px;
    width: 50%;
    max-width: 800px;
    z-index: 10;
}

@media screen and (max-width: 1400px) {
    .description {
        height: calc(100% - 25rem);
        top: 15rem;
    }
}

.filters {
    pointer-events: auto;
    height: calc(10% - 5rem);
    margin-top: 5rem;
    font-family: "Red Hat Display", "sans-serif";
    width: 50%;
    z-index: 10;
}