.container {
    height: calc(100% - 5rem);
    margin: 2.5rem;
    padding: 2rem;
    box-shadow: none;
    border-radius: 75px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        min-width: 650px;
    }

}

@media (max-width: 1199px) {
    .container {
        max-width: 650px;
    }

}

.description {
    font-size: x-large;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.name {
    font-size: 60px;
    font-weight: bold;
}

.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

.save-button {
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 100px;
    height: 35px;
    background-color: rgb(50, 19, 122);
    border: 2px solid white;
    border-radius: 20px;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
}

.save-button:hover {
    background-color: rgb(25, 10, 59);
    animation: pop-out 0.2s ease-out forwards;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}