.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    min-width: 250px;
}

@media (max-width: 1199px) {
    .container {
      width: 100%;
    }
  }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: .5rem;
}

.card {
    height: 100%;
    background-color: darkgray;
}