.search-container {
    margin: 0.5rem;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search-inner {
    position: relative;
    display: flex; 
    width: 100%;
    align-items: center;
}

.search-inner input {
    height: 35px;
    font-size: 16px;
    padding: 3px;
    outline: none;
    width: 100%;
    border-radius: 35px;
    padding-right: 20%;
    border: none;
    font-family: "Red Hat Display", "sans-serif";
    padding-left: 35px;
}

.search-inner input::placeholder {
    font-style: italic;
}

.search-inner.invalid input {
    border-color: red;
}

.dropdown {
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 100%;
    font-family: "Red Hat Display", "sans-serif";
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    color: black;
}

.dropdown-row:hover {
    background-color: lightblue;
}

.location-icon {
    font-size: 30px;
    color: gray;
    z-index: 2;
    position: absolute;
    left: 4px;
    
}

.close-icon {
    cursor: pointer;
    font-size: 20px;
    color: gray;
    z-index: 2;
    position: absolute;
    right: 0;
    padding-right: 4px;
}

.close-mark:hover {
    color:lightblue;
}
