.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.75);
}
  
.modal {
    position: fixed;
    border: 3px solid white;
    background-color: white;
    padding: 1rem;
    border-radius: 35px;
    top: calc(50%);
    left: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 100000;
    animation: slide-down 300ms ease-out forwards;
    background-color: rgb(50, 19, 122);
    color: white;
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.close-icon:hover {
    color: lightblue;
}
  
  @media (min-width: 768px) {
    .modal {
      width: 50rem;
      left: calc(50% - 25rem);
      top: calc(50% + 2.5rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
  }