.skeleton-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    opacity: 0;
    z-index: 1000;
    animation: pulse 2s infinite ease-in-out;
}
  
@keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: .6; }
    100% { opacity: 0; }
}