.dashboard {
    background-color: lightgray;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Red Hat Display", "sans-serif";
}

.list-container {
    height: calc(100% - 5rem);
    margin-top: 5rem;
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    left: 0;
    min-width: 150px;
    width: 15%;
    max-width: 225px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-left: 1rem;
}

.list-container::-webkit-scrollbar {
    width: 0px;  /* For Chrome, Safari and Opera */
}