.prompt-container {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area {
    width: calc(100% - 2rem);
    height: 200px;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
    font-family: "Red Hat Display", "sans-serif";
    resize: none;
    outline: none;
    border: 1px solid gray;
}

.text-area::placeholder {
    font-style: italic;
}

.text-area.invalid {
    border-color: red;
}

.dropdown {
    
}



