.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    border-bottom: 2px solid white;
    z-index: 9999;
    box-sizing: border-box;
    background-color: rgb(50, 19, 122);
    font-family: "Red Hat Display", "sans-serif";
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.account {
    font-size: 36px;
    cursor: pointer;
}

.account:hover {
  animation: pop-out 0.2s ease-out forwards;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.2);
    }
}

h1 {
  margin: 0.5rem;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5rem;
}

h3 {
  text-align: center;
  cursor: pointer;
}

h3:hover {
  animation: pop-out 0.2s ease-out forwards;
}

.divide {
  margin: 1rem;
  height: 40px;
  border-color: white;
}

